@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Special+Elite&display=swap');

body {
  font-family: 'Special Elite', cursive;
  background-image: url(./brickwall.png);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nothing You Could Do', cursive;
}

.small {
  font-weight: 300;
  font-style: italic;
}
